:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
}
